body {
    font-size: 15pt;
}

.side-icon{
  filter: brightness(0) saturate(100%) invert(49%) sepia(14%) saturate(4678%) hue-rotate(204deg) brightness(100%) contrast(91%);
}

#sidebar-link div:active{
  background-color: #F1F4F9
}

.purple{
  filter: brightness(0) saturate(100%) invert(46%) sepia(24%) saturate(4076%) hue-rotate(212deg) brightness(103%) contrast(99%);
}

.white-filt{
  filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(53deg) brightness(105%) contrast(105%);
}

.shade-grey-filt{
  filter: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(749%) hue-rotate(198deg) brightness(84%) contrast(90%);
  }
  
.phone-sidebar-icon{
  filter: brightness(0) saturate(100%) invert(35%) sepia(14%) saturate(2425%) hue-rotate(191deg) brightness(92%) contrast(82%);
}


.mobile_nav_active{
  display: block!important
}


.mobile_nav_active_p{
  font-weight: bold;
  color: #00639C!important;
}
a{
  text-decoration: none;
}
a p{
  color: black;
}

